<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20913898706-kqc9k68oe1j8091s9ejldcvuso6bhs6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20913898706-kqc9k68oe1j8091s9ejldcvuso6bhs6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBhBZZdI3qEfnHkyZbgD7z4OxWcLu2WiVY</string>
	<key>GCM_SENDER_ID</key>
	<string>20913898706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sawitproassessment</string>
	<key>PROJECT_ID</key>
	<string>sawit-pro-ea577</string>
	<key>STORAGE_BUCKET</key>
	<string>sawit-pro-ea577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20913898706:ios:733207478120196545190b</string>
</dict>
</plist>